.main {
  margin: 0;
  padding: 0;
}
.container {
  width: 88%;
  margin: auto;
  // overflow: hidden;
  margin-top: 3rem;
  display: block;

  @include breakpoint-up(medium) {
    position: relative;
  }
}

.home-intro {
  &__image {
    background-repeat: no-repeat;
    background-image: url(../images/homepage/mobile/image-homepage-hero@2x.jpg);
    height: 20rem;
    background-size: cover;
    background-position: center center;

    @include breakpoint-up(medium) {
      background-image: url(../images/homepage/tablet/image-homepage-hero@2x.jpg);
      height: 35rem;
      background-size: cover;
    }
    @include breakpoint-up(large) {
      background-image: url(../images/homepage/desktop/image-homepage-hero@2x.jpg);
      height: 34rem;
      background-size: cover;
    }
  }
  &__content {
    position: absolute;
    height: 45%;
    bottom: 0;
    z-index: 2;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    @include breakpoint-up(large) {
      height: 60%;
      width: 40%;
    }

    @include breakpoint-down(small) {
      position: relative;
      width: 100%;
      bottom: 0;
    }

    &-title {
      margin-top: 0;
      height: 60%;
      padding: 2.5rem 5rem 2.5rem 0;
      font-family: "Ibarra Real Nova", serif;
      font-size: 2.6rem;
      line-height: 2.5rem;
      letter-spacing: 0.5px;
      overflow: hidden;
      font-weight: 600;
      background-color: #fff;

      @include breakpoint-down(small) {
        padding-top: 25px;
        padding-right: 0;
      }
    }
  }

  &__button {
    position: absolute;
    height: 3rem;
    align-items: center;
    width: 12rem;
    // background-color: #1c3444;
    z-index: 2;
    bottom: 0;
    @include transit;

    @include breakpoint-up(medium) {
      width: 40%;
    }

    @include breakpoint-up(large) {
      width: 43%;
    }

    &:hover {
      opacity: 0.8;
      @include transit;
    }

    &-icon {
      background-color: #1c3444;
      float: left;
      height: 100%;
      width: 25%;

      > svg {
        padding-top: 2px;
        display: flex;
        transform: translateY(100%);
        margin: auto;
      }
    }

    .btn {
      height: 100%;
      width: 75%;
      background-color: #203a4c;
      float: right;
      letter-spacing: 1.5px;
      // font-size: 8px;
      font-family: "Public Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 0.75rem;
    }
  }
}

.home-about {
  display: flex;
  margin-top: 8rem;
  height: 34rem;
  width: 100%;
  justify-content: space-between;

  @include breakpoint-down(small) {
    height: 55rem;
    // height: 100%;
    flex-direction: column;
    margin-top: 4rem;
  }

  &__image {
    width: 49%;
    height: 34rem;
    background-image: url(../images/homepage/desktop/image-homepage-profile@2x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-size: cover;

    @include breakpoint-down(small) {
      display: block;
      width: auto;
      height: 50%;
      margin-bottom: 2rem;
      background-size: cover;
    }
  }

  &__content {
    border-top: 0.3px solid #dcdcde;
    border-bottom: 0.3px solid #dcdcde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
    padding: 0;
    margin-right: 6rem;
    width: 35%;

    @include breakpoint-down(medium) {
      margin: 0;
      width: 47%;
      // padding: auto;
    }
    @include breakpoint-down(small) {
      margin: 0;
      width: 100%;
      height: auto;
      padding-bottom: 2rem;
    }

    &__heading {
      font-family: "Ibarra Real Nova", serif;
      font-size: 30px;
      font-weight: 600;
    }

    > p {
      font-family: "Public Sans", sans-serif;
      padding-bottom: 1rem;
      font-weight: 300;
      color: #33323d;
    }
  }

  &__button {
    border: 1px solid #33323d;
    width: 8rem;
    padding: 12px 35px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #33323d;
    @include transit;

    &:hover {
      opacity: 0.9;
      @include transit;
      background-color: #33323d;
      color: #fff;
    }

    // @include breakpoint-down(small) {
    //   margin-bottom: 3rem;
    // }
  }
}
