.footer {
  background-color: #33323d;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    justify-content: space-between;

    @include breakpoint-down(small) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 15rem;
    }

    &-left {
      display: flex;
      align-items: center;

      @include breakpoint-down(small) {
        flex-direction: column;
        // margin: 1rem 0;
        align-items: center;
      }
    }
  }

  &__logo {
    margin-right: 3rem;

    @include breakpoint-down(small) {
      margin: 0.6rem 0rem;
    }

    > svg {
      > path {
        fill: #fff;
      }
    }
  }

  &__nav {
    &-items {
      display: flex;

      @include breakpoint-down(small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__nav-item {
        &:not(:last-child) {
          margin-right: 2rem;

          @include breakpoint-down(small) {
            margin: 0.6rem 0;
          }
        }
        @include breakpoint-down(small) {
          margin: 0.6rem 0;
        }
        > a {
          font-family: "Public Sans", sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1.8px;
          color: #fff;
          font-size: 11px;
          @include transit;

          &:hover {
            @include transit;
            color: #5fb4a2;
          }
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    @include breakpoint-down(small) {
      margin: 1.5rem 0;
    }
    &__social {
      &:not(:last-child) {
        margin-right: 15px;
      }

      &__icon {
        > path {
          fill: #fff;
        }
      }
    }
  }
}
