body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*a {
  //   font-size: 1rem;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}
