.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88%;
  margin: 3.2rem auto 0;
  overflow: hidden;

  //   &-logo {
  //     overflow: hidden;
  //     > :only-child {
  //       width: 46px;
  //       height: 35px;
  //     }
  //   }

  &-links {
    display: flex;

    &-item {
      flex-direction: row;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      > a {
        font-family: "Public Sans", sans-serif;
        font-weight: 600;
        letter-spacing: 1.8px;
        color: #33323d;
        font-size: 11px;
        @include transit;

        &:hover {
          @include transit;
          color: #5fb4a2;
        }
      }

      .active {
        color: #5fb4a2;
      }
    }
  }

  &-burger {
    margin: 0;
    border: 0;
    width: 26px;
    height: 1.5rem;
    cursor: pointer;
    position: relative;

    &-item {
      width: 26px;
      height: 1.5px;
      left: 0;
      position: absolute;
      background: #33323d;
      display: block;
      top: 50%;
      @include transit;

      &::before {
        content: "";
        display: block;
        width: 26px;
        height: 1.5px;
        top: -6px;
        position: absolute;
        background: #33323d;
        @include transit;
      }

      &::after {
        content: "";
        display: block;
        width: 26px;
        height: 1.5px;
        top: 6px;
        position: absolute;
        background: #33323d;
        @include transit;
      }

      &.open {
        transform: rotate(180deg);
        background: transparent;
        transition: 500ms ease-in-out;

        &::before {
          transform: rotate(45deg);
          transform-origin: 6px 5px;
          @include transit;
        }

        &::after {
          transform: rotate(-45deg);
          transform-origin: 6px -4px;
          @include transit;
        }
      }
    }
  }
}

.hide_for_desk {
  @include breakpoint-up(medium) {
    display: none;
    // visibility: hidden;
  }
}
.hide_for_mob {
  @include breakpoint-down(small) {
    display: none;
    // visibility: hidden;
  }
}

.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
